.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 110px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.uscs{ 
right: 0px;
    top: 605px; 
    position:absolute;
   
}

.forgetsenha{ 
    right: 150px;
    top: 435px;
        position:absolute;
       
    }